# Ignore .history directory
.history/

# ...existing code...
FirstTry/__pycache__/analysis.cpython-310.pyc
FirstTry/__pycache__/data.cpython-310.pyc
FirstTry/__pycache__/dataset.cpython-310.pyc
FirstTry/__pycache__/train.cpython-310.pyc
FirstTry/__pycache__/unet.cpython-310.pyc
FirstTry/__pycache__/unet.cpython-312.pyc
FirstTry/__pycache__/utils.cpython-310.pyc
FirstTry/__pycache__/utils.cpython-312.pyc
FirstTry/checkpoints/unet_epoch_1.pt
FirstTry/checkpoints/unet_epoch_10.pt
FirstTry/checkpoints/unet_epoch_2.pt
FirstTry/checkpoints/unet_epoch_3.pt
FirstTry/checkpoints/unet_epoch_4.pt
FirstTry/checkpoints/unet_epoch_5.pt
FirstTry/checkpoints/unet_epoch_6.pt
FirstTry/checkpoints/unet_epoch_7.pt
FirstTry/checkpoints/unet_epoch_8.pt
FirstTry/checkpoints/unet_epoch_9.pt
FirstTry/checkpoints_extreme/unet_epoch_1.pt
FirstTry/checkpoints_extreme/unet_epoch_10.pt
FirstTry/checkpoints_extreme/unet_epoch_11.pt
FirstTry/checkpoints_extreme/unet_epoch_12.pt
FirstTry/checkpoints_extreme/unet_epoch_13.pt
FirstTry/checkpoints_extreme/unet_epoch_14.pt
FirstTry/checkpoints_extreme/unet_epoch_15.pt
FirstTry/checkpoints_extreme/unet_epoch_16.pt
FirstTry/checkpoints_extreme/unet_epoch_17.pt
FirstTry/checkpoints_extreme/unet_epoch_18.pt
FirstTry/checkpoints_extreme/unet_epoch_19.pt
FirstTry/checkpoints_extreme/unet_epoch_2.pt
FirstTry/checkpoints_extreme/unet_epoch_20.pt
FirstTry/checkpoints_extreme/unet_epoch_21.pt
FirstTry/checkpoints_extreme/unet_epoch_22.pt
FirstTry/checkpoints_extreme/unet_epoch_23.pt
FirstTry/checkpoints_extreme/unet_epoch_24.pt
FirstTry/checkpoints_extreme/unet_epoch_25.pt
FirstTry/checkpoints_extreme/unet_epoch_26.pt
FirstTry/checkpoints_extreme/unet_epoch_27.pt
FirstTry/checkpoints_extreme/unet_epoch_28.pt
FirstTry/checkpoints_extreme/unet_epoch_29.pt
FirstTry/checkpoints_extreme/unet_epoch_3.pt
FirstTry/checkpoints_extreme/unet_epoch_30.pt
FirstTry/checkpoints_extreme/unet_epoch_31.pt
FirstTry/checkpoints_extreme/unet_epoch_32.pt
FirstTry/checkpoints_extreme/unet_epoch_33.pt
FirstTry/checkpoints_extreme/unet_epoch_34.pt
FirstTry/checkpoints_extreme/unet_epoch_35.pt
FirstTry/checkpoints_extreme/unet_epoch_36.pt
FirstTry/checkpoints_extreme/unet_epoch_37.pt
FirstTry/checkpoints_extreme/unet_epoch_38.pt
FirstTry/checkpoints_extreme/unet_epoch_39.pt
FirstTry/checkpoints_extreme/unet_epoch_4.pt
FirstTry/checkpoints_extreme/unet_epoch_40.pt
FirstTry/checkpoints_extreme/unet_epoch_41.pt
FirstTry/checkpoints_extreme/unet_epoch_42.pt
FirstTry/checkpoints_extreme/unet_epoch_43.pt
FirstTry/checkpoints_extreme/unet_epoch_44.pt
FirstTry/checkpoints_extreme/unet_epoch_45.pt
FirstTry/checkpoints_extreme/unet_epoch_46.pt
FirstTry/checkpoints_extreme/unet_epoch_47.pt
FirstTry/checkpoints_extreme/unet_epoch_48.pt
FirstTry/checkpoints_extreme/unet_epoch_49.pt
FirstTry/checkpoints_extreme/unet_epoch_5.pt
FirstTry/checkpoints_extreme/unet_epoch_50.pt
FirstTry/checkpoints_extreme/unet_epoch_6.pt
FirstTry/checkpoints_extreme/unet_epoch_7.pt
FirstTry/checkpoints_extreme/unet_epoch_8.pt
FirstTry/checkpoints_extreme/unet_epoch_9.pt
FirstTry/checkpoints_large_tiles/unet_epoch_1.pt
FirstTry/checkpoints_large_tiles/unet_epoch_10.pt
FirstTry/checkpoints_large_tiles/unet_epoch_2.pt
FirstTry/checkpoints_large_tiles/unet_epoch_3.pt
FirstTry/checkpoints_large_tiles/unet_epoch_4.pt
FirstTry/checkpoints_large_tiles/unet_epoch_5.pt
FirstTry/checkpoints_large_tiles/unet_epoch_6.pt
FirstTry/checkpoints_large_tiles/unet_epoch_7.pt
FirstTry/checkpoints_large_tiles/unet_epoch_8.pt
FirstTry/checkpoints_large_tiles/unet_epoch_9.pt
FirstTry/checkpoints_test/unet_epoch_1.pt
FirstTry/final_thresholded_output/TCGA-XX-A899-01Z-00-DX1.08FE27B7-73B8-4CE3-ACF4-0689C81C140B.png
FirstTry/final_thresholded_output/TCGA-XX-A899-11A-01-TS1.31A99BA4-5148-428B-9D5E-2999334193C6.png
FirstTry/final_thresholded_output/TCGA-XX-A899-11A-02-TS2.56D6DF2F-0C98-479C-948D-0BF5CEC43850.png
FirstTry/final_thresholded_output/TCGA-XX-A899-11A-03-TS3.8B451AB9-CF68-42BB-B28F-32DC8ECAB9C6.png
FirstTry/final_thresholded_output/TCGA-XX-A899-11A-04-TS4.3DFEA459-7489-418F-B7C0-CA480F6AF471.png
FirstTry/final_thresholded_output/TCGA-XX-A89A-01A-01-TS1.AC9C9633-E894-4F0B-B4D5-A9C701A20414.png
FirstTry/final_thresholded_output/TCGA-XX-A89A-01Z-00-DX1.671E2AD6-4D1A-4579-88C1-5B0B15818126.png
FirstTry/final_thresholded_output/TCGA-Z7-A8R5-01A-04-TSD.501DD6C7-E797-4D69-B315-FBFFEC297120.png
FirstTry/final_thresholded_output/TCGA-Z7-A8R5-01Z-00-DX1.3BDB407F-514C-4131-B058-FA1E69154276.png
FirstTry/final_thresholded_output/TCGA-Z7-A8R6-01A-01-TSA.EED1E5D4-7C9A-45C8-9F11-13F71190A1B1.png
FirstTry/final_thresholded_output/TCGA-Z7-A8R6-01Z-00-DX1.CE4ED818-D762-4324-9DEA-2ACB38B9B0B9.png
FirstTry/final_thresholded_output_large_tiles/TCGA-XX-A899-01Z-00-DX1.08FE27B7-73B8-4CE3-ACF4-0689C81C140B.png
FirstTry/final_thresholded_output_large_tiles/TCGA-XX-A899-11A-01-TS1.31A99BA4-5148-428B-9D5E-2999334193C6.png
FirstTry/final_thresholded_output_large_tiles/TCGA-XX-A899-11A-02-TS2.56D6DF2F-0C98-479C-948D-0BF5CEC43850.png
FirstTry/final_thresholded_output_large_tiles/TCGA-XX-A899-11A-03-TS3.8B451AB9-CF68-42BB-B28F-32DC8ECAB9C6.png
FirstTry/final_thresholded_output_large_tiles/TCGA-XX-A899-11A-04-TS4.3DFEA459-7489-418F-B7C0-CA480F6AF471.png
FirstTry/final_thresholded_output_large_tiles/TCGA-XX-A89A-01A-01-TS1.AC9C9633-E894-4F0B-B4D5-A9C701A20414.png
FirstTry/final_thresholded_output_large_tiles/TCGA-XX-A89A-01Z-00-DX1.671E2AD6-4D1A-4579-88C1-5B0B15818126.png
FirstTry/final_thresholded_output_large_tiles/TCGA-Z7-A8R5-01A-04-TSD.501DD6C7-E797-4D69-B315-FBFFEC297120.png
FirstTry/final_thresholded_output_large_tiles/TCGA-Z7-A8R5-01Z-00-DX1.3BDB407F-514C-4131-B058-FA1E69154276.png
FirstTry/final_thresholded_output_large_tiles/TCGA-Z7-A8R6-01A-01-TSA.EED1E5D4-7C9A-45C8-9F11-13F71190A1B1.png
FirstTry/final_thresholded_output_large_tiles/TCGA-Z7-A8R6-01Z-00-DX1.CE4ED818-D762-4324-9DEA-2ACB38B9B0B9.png
FirstTry/intermediate_data/grids/TCGA-XX-A899-01Z-00-DX1.08FE27B7-73B8-4CE3-ACF4-0689C81C140B--tlsz256.data
FirstTry/intermediate_data/grids/TCGA-XX-A899-11A-01-TS1.31A99BA4-5148-428B-9D5E-2999334193C6--tlsz256.data
FirstTry/intermediate_data/grids/TCGA-XX-A899-11A-02-TS2.56D6DF2F-0C98-479C-948D-0BF5CEC43850--tlsz256.data
FirstTry/intermediate_data/grids/TCGA-XX-A899-11A-03-TS3.8B451AB9-CF68-42BB-B28F-32DC8ECAB9C6--tlsz256.data
FirstTry/intermediate_data/grids/TCGA-XX-A899-11A-04-TS4.3DFEA459-7489-418F-B7C0-CA480F6AF471--tlsz256.data
FirstTry/intermediate_data/grids/TCGA-XX-A89A-01A-01-TS1.AC9C9633-E894-4F0B-B4D5-A9C701A20414--tlsz256.data
FirstTry/intermediate_data/grids/TCGA-XX-A89A-01Z-00-DX1.671E2AD6-4D1A-4579-88C1-5B0B15818126--tlsz256.data
FirstTry/intermediate_data/grids/TCGA-Z7-A8R5-01A-04-TSD.501DD6C7-E797-4D69-B315-FBFFEC297120--tlsz256.data
FirstTry/intermediate_data/grids/TCGA-Z7-A8R5-01Z-00-DX1.3BDB407F-514C-4131-B058-FA1E69154276--tlsz256.data
FirstTry/intermediate_data/grids/TCGA-Z7-A8R6-01A-01-TSA.EED1E5D4-7C9A-45C8-9F11-13F71190A1B1--tlsz256.data
FirstTry/intermediate_data/grids/TCGA-Z7-A8R6-01Z-00-DX1.CE4ED818-D762-4324-9DEA-2ACB38B9B0B9--tlsz256.data
FirstTry/intermediate_data/slides/TCGA-XX-A899-01Z-00-DX1.08FE27B7-73B8-4CE3-ACF4-0689C81C140B.svs
FirstTry/intermediate_data/slides/TCGA-XX-A899-11A-01-TS1.31A99BA4-5148-428B-9D5E-2999334193C6.svs
FirstTry/intermediate_data/slides/TCGA-XX-A899-11A-02-TS2.56D6DF2F-0C98-479C-948D-0BF5CEC43850.svs
FirstTry/intermediate_data/slides/TCGA-XX-A899-11A-03-TS3.8B451AB9-CF68-42BB-B28F-32DC8ECAB9C6.svs
FirstTry/intermediate_data/slides/TCGA-XX-A899-11A-04-TS4.3DFEA459-7489-418F-B7C0-CA480F6AF471.svs
FirstTry/intermediate_data/slides/TCGA-XX-A89A-01A-01-TS1.AC9C9633-E894-4F0B-B4D5-A9C701A20414.svs
FirstTry/intermediate_data/slides/TCGA-XX-A89A-01Z-00-DX1.671E2AD6-4D1A-4579-88C1-5B0B15818126.svs
FirstTry/intermediate_data/slides/TCGA-Z7-A8R5-01A-04-TSD.501DD6C7-E797-4D69-B315-FBFFEC297120.svs
FirstTry/intermediate_data/slides/TCGA-Z7-A8R5-01Z-00-DX1.3BDB407F-514C-4131-B058-FA1E69154276.svs
FirstTry/intermediate_data/slides/TCGA-Z7-A8R6-01A-01-TSA.EED1E5D4-7C9A-45C8-9F11-13F71190A1B1.svs
FirstTry/intermediate_data/slides/TCGA-Z7-A8R6-01Z-00-DX1.CE4ED818-D762-4324-9DEA-2ACB38B9B0B9.svs
FirstTry/intermediate_data/thumbs/TCGA-XX-A899-01Z-00-DX1.08FE27B7-73B8-4CE3-ACF4-0689C81C140B_thumb.jpg
FirstTry/intermediate_data/thumbs/TCGA-XX-A899-11A-01-TS1.31A99BA4-5148-428B-9D5E-2999334193C6_thumb.jpg
FirstTry/intermediate_data/thumbs/TCGA-XX-A899-11A-02-TS2.56D6DF2F-0C98-479C-948D-0BF5CEC43850_thumb.jpg
FirstTry/intermediate_data/thumbs/TCGA-XX-A899-11A-03-TS3.8B451AB9-CF68-42BB-B28F-32DC8ECAB9C6_thumb.jpg
FirstTry/intermediate_data/thumbs/TCGA-XX-A899-11A-04-TS4.3DFEA459-7489-418F-B7C0-CA480F6AF471_thumb.jpg
FirstTry/intermediate_data/thumbs/TCGA-XX-A89A-01A-01-TS1.AC9C9633-E894-4F0B-B4D5-A9C701A20414_thumb.jpg
FirstTry/intermediate_data/thumbs/TCGA-XX-A89A-01Z-00-DX1.671E2AD6-4D1A-4579-88C1-5B0B15818126_thumb.jpg
FirstTry/intermediate_data/thumbs/TCGA-Z7-A8R5-01A-04-TSD.501DD6C7-E797-4D69-B315-FBFFEC297120_thumb.jpg
FirstTry/intermediate_data/thumbs/TCGA-Z7-A8R5-01Z-00-DX1.3BDB407F-514C-4131-B058-FA1E69154276_thumb.jpg
FirstTry/intermediate_data/thumbs/TCGA-Z7-A8R6-01A-01-TSA.EED1E5D4-7C9A-45C8-9F11-13F71190A1B1_thumb.jpg
FirstTry/intermediate_data/thumbs/TCGA-Z7-A8R6-01Z-00-DX1.CE4ED818-D762-4324-9DEA-2ACB38B9B0B9_thumb.jpg
FirstTry/resized_output_large_tiles/TCGA-XX-A899-01Z-00-DX1.08FE27B7-73B8-4CE3-ACF4-0689C81C140B.png
FirstTry/resized_output_large_tiles/TCGA-XX-A899-11A-01-TS1.31A99BA4-5148-428B-9D5E-2999334193C6.png
FirstTry/resized_output_large_tiles/TCGA-XX-A899-11A-02-TS2.56D6DF2F-0C98-479C-948D-0BF5CEC43850.png
FirstTry/resized_output_large_tiles/TCGA-XX-A899-11A-03-TS3.8B451AB9-CF68-42BB-B28F-32DC8ECAB9C6.png
FirstTry/resized_output_large_tiles/TCGA-XX-A899-11A-04-TS4.3DFEA459-7489-418F-B7C0-CA480F6AF471.png
FirstTry/resized_output_large_tiles/TCGA-XX-A89A-01A-01-TS1.AC9C9633-E894-4F0B-B4D5-A9C701A20414.png
FirstTry/resized_output_large_tiles/TCGA-XX-A89A-01Z-00-DX1.671E2AD6-4D1A-4579-88C1-5B0B15818126.png
FirstTry/resized_output_large_tiles/TCGA-Z7-A8R5-01A-04-TSD.501DD6C7-E797-4D69-B315-FBFFEC297120.png
FirstTry/resized_output_large_tiles/TCGA-Z7-A8R5-01Z-00-DX1.3BDB407F-514C-4131-B058-FA1E69154276.png
FirstTry/resized_output_large_tiles/TCGA-Z7-A8R6-01A-01-TSA.EED1E5D4-7C9A-45C8-9F11-13F71190A1B1.png
FirstTry/resized_output_large_tiles/TCGA-Z7-A8R6-01Z-00-DX1.CE4ED818-D762-4324-9DEA-2ACB38B9B0B9.png
FirstTry/segmaps/TCGA-XX-A899-01Z-00-DX1.08FE27B7-73B8-4CE3-ACF4-0689C81C140B_SegMap.png
FirstTry/segmaps/TCGA-XX-A899-11A-01-TS1.31A99BA4-5148-428B-9D5E-2999334193C6_SegMap.png
FirstTry/segmaps/TCGA-XX-A899-11A-02-TS2.56D6DF2F-0C98-479C-948D-0BF5CEC43850_SegMap.png
FirstTry/segmaps/TCGA-XX-A899-11A-03-TS3.8B451AB9-CF68-42BB-B28F-32DC8ECAB9C6_SegMap.png
FirstTry/segmaps/TCGA-XX-A899-11A-04-TS4.3DFEA459-7489-418F-B7C0-CA480F6AF471_SegMap.png
FirstTry/segmaps/TCGA-XX-A89A-01A-01-TS1.AC9C9633-E894-4F0B-B4D5-A9C701A20414_SegMap.png
FirstTry/segmaps/TCGA-XX-A89A-01Z-00-DX1.671E2AD6-4D1A-4579-88C1-5B0B15818126_SegMap.png
FirstTry/segmaps/TCGA-Z7-A8R5-01A-04-TSD.501DD6C7-E797-4D69-B315-FBFFEC297120_SegMap.png
FirstTry/segmaps/TCGA-Z7-A8R5-01Z-00-DX1.3BDB407F-514C-4131-B058-FA1E69154276_SegMap.png
FirstTry/segmaps/TCGA-Z7-A8R6-01A-01-TSA.EED1E5D4-7C9A-45C8-9F11-13F71190A1B1_SegMap.png
FirstTry/segmaps/TCGA-Z7-A8R6-01Z-00-DX1.CE4ED818-D762-4324-9DEA-2ACB38B9B0B9_SegMap.png
FirstTry/test_data/slides/TCGA-XX-A899-01Z-00-DX1.08FE27B7-73B8-4CE3-ACF4-0689C81C140B.svs
FirstTry/test_data/slides/TCGA-XX-A899-11A-01-TS1.31A99BA4-5148-428B-9D5E-2999334193C6.svs
FirstTry/test_data/slides/TCGA-XX-A899-11A-02-TS2.56D6DF2F-0C98-479C-948D-0BF5CEC43850.svs
FirstTry/test_data/slides/TCGA-XX-A899-11A-03-TS3.8B451AB9-CF68-42BB-B28F-32DC8ECAB9C6.svs
FirstTry/test_data/slides/TCGA-XX-A899-11A-04-TS4.3DFEA459-7489-418F-B7C0-CA480F6AF471.svs
FirstTry/test_data/slides/TCGA-XX-A89A-01A-01-TS1.AC9C9633-E894-4F0B-B4D5-A9C701A20414.svs
FirstTry/test_data/slides/TCGA-XX-A89A-01Z-00-DX1.671E2AD6-4D1A-4579-88C1-5B0B15818126.svs
FirstTry/test_data/slides/TCGA-Z7-A8R5-01A-04-TSD.501DD6C7-E797-4D69-B315-FBFFEC297120.svs
FirstTry/test_data/slides/TCGA-Z7-A8R5-01Z-00-DX1.3BDB407F-514C-4131-B058-FA1E69154276.svs
FirstTry/test_data/slides/TCGA-Z7-A8R6-01A-01-TSA.EED1E5D4-7C9A-45C8-9F11-13F71190A1B1.svs
FirstTry/test_data/slides/TCGA-Z7-A8R6-01Z-00-DX1.CE4ED818-D762-4324-9DEA-2ACB38B9B0B9.svs
FirstTry/thresholded_output/TCGA-XX-A899-01Z-00-DX1.08FE27B7-73B8-4CE3-ACF4-0689C81C140B.png
FirstTry/thresholded_output/TCGA-XX-A899-11A-01-TS1.31A99BA4-5148-428B-9D5E-2999334193C6.png
FirstTry/thresholded_output/TCGA-XX-A899-11A-02-TS2.56D6DF2F-0C98-479C-948D-0BF5CEC43850.png
FirstTry/thresholded_output/TCGA-XX-A899-11A-03-TS3.8B451AB9-CF68-42BB-B28F-32DC8ECAB9C6.png
FirstTry/thresholded_output/TCGA-XX-A899-11A-04-TS4.3DFEA459-7489-418F-B7C0-CA480F6AF471.png
FirstTry/thresholded_output/TCGA-XX-A89A-01A-01-TS1.AC9C9633-E894-4F0B-B4D5-A9C701A20414.png
FirstTry/thresholded_output/TCGA-XX-A89A-01Z-00-DX1.671E2AD6-4D1A-4579-88C1-5B0B15818126.png
FirstTry/thresholded_output/TCGA-Z7-A8R5-01A-04-TSD.501DD6C7-E797-4D69-B315-FBFFEC297120.png
FirstTry/thresholded_output/TCGA-Z7-A8R5-01Z-00-DX1.3BDB407F-514C-4131-B058-FA1E69154276.png
FirstTry/thresholded_output/TCGA-Z7-A8R6-01A-01-TSA.EED1E5D4-7C9A-45C8-9F11-13F71190A1B1.png
FirstTry/thresholded_output/TCGA-Z7-A8R6-01Z-00-DX1.CE4ED818-D762-4324-9DEA-2ACB38B9B0B9.png
FirstTry/thresholded_output_large_tiles/TCGA-XX-A899-01Z-00-DX1.08FE27B7-73B8-4CE3-ACF4-0689C81C140B.png
FirstTry/thresholded_output_large_tiles/TCGA-XX-A899-11A-01-TS1.31A99BA4-5148-428B-9D5E-2999334193C6.png
FirstTry/thresholded_output_large_tiles/TCGA-XX-A899-11A-02-TS2.56D6DF2F-0C98-479C-948D-0BF5CEC43850.png
FirstTry/thresholded_output_large_tiles/TCGA-XX-A899-11A-03-TS3.8B451AB9-CF68-42BB-B28F-32DC8ECAB9C6.png
FirstTry/thresholded_output_large_tiles/TCGA-XX-A899-11A-04-TS4.3DFEA459-7489-418F-B7C0-CA480F6AF471.png
FirstTry/thresholded_output_large_tiles/TCGA-XX-A89A-01A-01-TS1.AC9C9633-E894-4F0B-B4D5-A9C701A20414.png
FirstTry/thresholded_output_large_tiles/TCGA-XX-A89A-01Z-00-DX1.671E2AD6-4D1A-4579-88C1-5B0B15818126.png
FirstTry/thresholded_output_large_tiles/TCGA-Z7-A8R5-01A-04-TSD.501DD6C7-E797-4D69-B315-FBFFEC297120.png
FirstTry/thresholded_output_large_tiles/TCGA-Z7-A8R5-01Z-00-DX1.3BDB407F-514C-4131-B058-FA1E69154276.png
FirstTry/thresholded_output_large_tiles/TCGA-Z7-A8R6-01A-01-TSA.EED1E5D4-7C9A-45C8-9F11-13F71190A1B1.png
FirstTry/thresholded_output_large_tiles/TCGA-Z7-A8R6-01Z-00-DX1.CE4ED818-D762-4324-9DEA-2ACB38B9B0B9.png
FirstTry/thresholded_output_resized/TCGA-XX-A899-01Z-00-DX1.08FE27B7-73B8-4CE3-ACF4-0689C81C140B.png
FirstTry/thresholded_output_resized/TCGA-XX-A899-11A-01-TS1.31A99BA4-5148-428B-9D5E-2999334193C6.png
FirstTry/thresholded_output_resized/TCGA-XX-A899-11A-02-TS2.56D6DF2F-0C98-479C-948D-0BF5CEC43850.png
FirstTry/thresholded_output_resized/TCGA-XX-A899-11A-03-TS3.8B451AB9-CF68-42BB-B28F-32DC8ECAB9C6.png
FirstTry/thresholded_output_resized/TCGA-XX-A899-11A-04-TS4.3DFEA459-7489-418F-B7C0-CA480F6AF471.png
FirstTry/thresholded_output_resized/TCGA-XX-A89A-01A-01-TS1.AC9C9633-E894-4F0B-B4D5-A9C701A20414.png
FirstTry/thresholded_output_resized/TCGA-XX-A89A-01Z-00-DX1.671E2AD6-4D1A-4579-88C1-5B0B15818126.png
FirstTry/thresholded_output_resized/TCGA-Z7-A8R5-01A-04-TSD.501DD6C7-E797-4D69-B315-FBFFEC297120.png
FirstTry/thresholded_output_resized/TCGA-Z7-A8R5-01Z-00-DX1.3BDB407F-514C-4131-B058-FA1E69154276.png
FirstTry/thresholded_output_resized/TCGA-Z7-A8R6-01A-01-TSA.EED1E5D4-7C9A-45C8-9F11-13F71190A1B1.png
FirstTry/thresholded_output_resized/TCGA-Z7-A8R6-01Z-00-DX1.CE4ED818-D762-4324-9DEA-2ACB38B9B0B9.png
Recources/example_tcga_slides/TCGA-XX-A899-01Z-00-DX1.08FE27B7-73B8-4CE3-ACF4-0689C81C140B.svs
Recources/example_tcga_slides/TCGA-XX-A899-11A-01-TS1.31A99BA4-5148-428B-9D5E-2999334193C6.svs
Recources/example_tcga_slides/TCGA-XX-A899-11A-02-TS2.56D6DF2F-0C98-479C-948D-0BF5CEC43850.svs
Recources/example_tcga_slides/TCGA-XX-A899-11A-03-TS3.8B451AB9-CF68-42BB-B28F-32DC8ECAB9C6.svs
Recources/example_tcga_slides/TCGA-XX-A899-11A-04-TS4.3DFEA459-7489-418F-B7C0-CA480F6AF471.svs
Recources/example_tcga_slides/TCGA-XX-A89A-01A-01-TS1.AC9C9633-E894-4F0B-B4D5-A9C701A20414.svs
Recources/example_tcga_slides/TCGA-XX-A89A-01Z-00-DX1.671E2AD6-4D1A-4579-88C1-5B0B15818126.svs
Recources/example_tcga_slides/TCGA-Z7-A8R5-01A-04-TSD.501DD6C7-E797-4D69-B315-FBFFEC297120.svs
Recources/example_tcga_slides/TCGA-Z7-A8R5-01Z-00-DX1.3BDB407F-514C-4131-B058-FA1E69154276.svs
Recources/example_tcga_slides/TCGA-Z7-A8R6-01A-01-TSA.EED1E5D4-7C9A-45C8-9F11-13F71190A1B1.svs
Recources/example_tcga_slides/TCGA-Z7-A8R6-01Z-00-DX1.CE4ED818-D762-4324-9DEA-2ACB38B9B0B9.svs
Recources/segmaps/TCGA-XX-A899-01Z-00-DX1.08FE27B7-73B8-4CE3-ACF4-0689C81C140B_SegMap.png
Recources/segmaps/TCGA-XX-A899-11A-01-TS1.31A99BA4-5148-428B-9D5E-2999334193C6_SegMap.png
Recources/segmaps/TCGA-XX-A899-11A-02-TS2.56D6DF2F-0C98-479C-948D-0BF5CEC43850_SegMap.png
Recources/segmaps/TCGA-XX-A899-11A-03-TS3.8B451AB9-CF68-42BB-B28F-32DC8ECAB9C6_SegMap.png
Recources/segmaps/TCGA-XX-A899-11A-04-TS4.3DFEA459-7489-418F-B7C0-CA480F6AF471_SegMap.png
Recources/segmaps/TCGA-XX-A89A-01A-01-TS1.AC9C9633-E894-4F0B-B4D5-A9C701A20414_SegMap.png
Recources/segmaps/TCGA-XX-A89A-01Z-00-DX1.671E2AD6-4D1A-4579-88C1-5B0B15818126_SegMap.png
Recources/segmaps/TCGA-Z7-A8R5-01A-04-TSD.501DD6C7-E797-4D69-B315-FBFFEC297120_SegMap.png
Recources/segmaps/TCGA-Z7-A8R5-01Z-00-DX1.3BDB407F-514C-4131-B058-FA1E69154276_SegMap.png
Recources/segmaps/TCGA-Z7-A8R6-01A-01-TSA.EED1E5D4-7C9A-45C8-9F11-13F71190A1B1_SegMap.png
Recources/segmaps/TCGA-Z7-A8R6-01Z-00-DX1.CE4ED818-D762-4324-9DEA-2ACB38B9B0B9_SegMap.png
