# Ignore Recources folder
Recources/example_tcga_slides/

# Ignore all checkpoint folders
checkpoints_*/

# Ignore all output folders
thresholded_output*/
resized_output*/
final_thresholded_output*/

# Ignore Python cache and temporary files
__pycache__/
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore .history directory
.history/
